.shared {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.shared-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

h2 {
  color: #343951;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

.shared-title button {
  margin-left: auto;
  background: none;
  border: none;
  padding: 0;
  color: #343951;
  cursor: pointer;
  font-size: 14px;
}

.shared-title button:hover {
  text-decoration: underline;
}

.shared-cards {
  display: flex;
}
